.btn
  height 40px
  box-sizing border-box
  border none
  border-radius 2px

.btn--greyblue
  background-color #696c9b
  &:hover
    background-color #7a7db2

.btn-enter
  width 100%
  font-size 16px
  color #ffffff
  font-family "Roboto Thin"
  margin 30px 0 70px 0