@import "../colors.styl"

.calendar
  position absolute
  top 50px
  right 15px
  background-color #ffffff
  box-shadow: 0 2px 4px 0 $shadow-color;
  z-index 900
  border-radius 2px
  font-size 14px
  &__table
    border-collapse collapse
    width 22em
    height 26em
  &__day
    display inline-block
    box-sizing border-box
    color #000000
    text-decoration none
    height 26px
    width 26px
    cursor pointer
    padding-top 5px
    &:hover
      background-color $blue
      color #fff
      border-radius 50%

  &__day-date
    display inline-block

  &__day--muted
    color $light-blue
    cursor default
    &:hover
      cursor default
      pointer-events none
      background #ffffff
      color $light-blue

  &__day--selected
    background-color $blue
    color #fff
    border-radius 50%

  &__day--today
    background-color $blue
    color #fff
    border-radius 50%

  &__selected-date
    display block
    text-align center
    font-weight 600
    color #707070
  &__day-names
    background-color $light-blue
    text-align center
    color #ffffff
    font-weight 600
    font-size 0.85em
    box-sizing border-box
    td
      height 40px
      padding 0
  &__month-name
    td
      padding 20px 0 40px 0
  &__nav
    display block
    text-decoration none
    text-align center
    color $dark-blue
    font-size 1em
  &__cell
    height 28px
    width 28px
    text-align center

@media all and (max-width: 425px)
  .calendar
    font-size 12px
    right -25px
    &__nav
      font-size 2em
    &__month-name
      td
        padding 10px 0 20px 0
    &__table
      tbody:last-child
        td
          padding-bottom 15px
