@import "../colors.styl"

.calendar
  position absolute
  background-color #ffffff
  box-shadow: 0 2px 4px 0 $shadow-color;
  z-index 100
  border-radius 2px
  &__table
    border-collapse collapse
    width 300px
    height 370px
  &__day
    display inline-block
    color #000000
    text-decoration none
    font-size 14px
    &:hover
      background-color $light-blue
      border-radius 50%
      color #fff

  &__day--muted
    color $light-blue

  &__day--selected
    background-color $blue
    color #fff
    border-radius 50%

  &__day--today
    background none
    color #000
    &:hover
      border-radius 50%
      color #fff

  &__selected-date
    display block
    text-align center
    font-size 14px
    font-weight 600
  &__day-names
    background-color $light-blue
    text-align center
    font-size 12px
    color #ffffff
    font-weight 600
    td
      height 40px
  &__month-name
    td
      padding 20px 0 40px 0
  &__nav
    display block
    text-decoration none
    text-align center
    color $dark-blue
  &__cell
    height 28px
    width 28px
    text-align center

