.modal
  position fixed
  z-index 100
  padding-top 80px
  left 0
  top 0
  background-color rgba(154, 158, 164, 0.36)
  height 100%
  width 100%
  display flex
  justify-content center

.modal-content
  background #fff
  border solid 1px #9a9ea4
  max-height 552px
  padding 20px 10px
  touch-action none
  &__scale
    width 100%
    margin 15px 0 30px

@media all and (max-width: 425px)
  .modal
    padding 50px 0
    &-content
      width 100%
