.modal
  position fixed
  z-index 100
  padding 50px
  left 0
  top 0
  background-color rgba(154, 158, 164, 0.36)
  height 100%
  width 100%
  display flex
  justify-content center
  &__content
    background #d0d0d0
    border solid 1px #000000
    width 50%