.input-default
  border-radius 2px
  border solid 1px #a3b1cd
  padding 0
  &:hover
    border-color #749ae3
  &:actiive
    border-color #749ae3
    box-shadow none
  &:focus
    border solid 1px #749ae3
  &:after
    border solid 1px #7b8aa8

.input-alert
  border solid 1px #cda3a3
  border-radius 2px

::-webkit-input-placeholder
  color #566495

:-ms-input-placeholder
  color #566495

:-moz-placeholder
  color #566495
  opacity 1

