.nav-links
  margin 40px 0
  &__logout
    display flex
    justify-content flex-end
    &:hover
      cursor pointer
  &__back
    display flex
    justify-content left
  span
    color white

@media all and (max-width: 450px)
  .nav-links
    padding 0 !important

