.task
  background-color #ececec
  border-radius 2px
  height 40px
  &__name
    text-align left
    font-size 16px
    color #333333
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
  &__end
    font-size 11px
    color #575757
    font-weight 600
  &__end--expired
    color #c32121
    font-weight 600