@import "colors.styl"

.calendar-container
  min-width 310px
  background-color #ffffff
  border-radius 2px
  &__header
    font-size 21px
    margin 50px 0
  &__day-names
    background-color $light-blue
    text-align center
  &__nav
    display block
    text-decoration none
    text-align center
    color $dark-blue
  &__row
    display flex
    width 100%
  &__cell
    min-height 120px
    width 100%
    min-width 40px
    border solid 1px $light-grey
    border-bottom 0
    border-left 0
    box-sizing border-box
    position relative
  &__cell--muted
    color $light-blue
    background-color $calendar-muted-cell
  &__daynames
    margin-top 25px
    background-color $light-blue
    display flex
  &__selected-date
    font-size 16px
    font-weight 600
    color $light-navy-blue
  &__date
    text-align right
    color $calendar-date-color
    cursor default
    margin 7px
  &__date--extended
    display none
    text-align right
    margin 7px
    color $calendar-date-color

.dayname-container
  width 100%
  &__name
    float left
    color #ffffff
    font-size 13px
    font-weight 600
    margin 10px 0 10px 5px

.cell
  &__tasks-list
    display flex
    width 100%
    justify-content center
    flex-wrap wrap
    overflow hidden
    background #fff
    max-height 55px
    margin-bottom 3px
    box-shadow none
  &__tasks-list--extended
    z-index 100
    position absolute
    max-height 120px
    box-shadow 0 1px 1px 0 rgba(0, 0, 0, 0.5)
    border-radius 3px
    padding-bottom 6px
  &__task
    background-color $calendar-cell-task
    position relative
    border-radius 3px
    margin-bottom 6px
    cursor pointer
    display flex
    justify-content space-between
    width 95%
    min-height 22px
    flex-wrap wrap
  &__task--invisible
    display none
  &__task--active
    background-color $blue
    color #fff
  &__task-name
    display inline-block
    font-size 11px
    margin 5px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    max-width 68px
  &__task-time
    display inline-block
    font-size 11px
    margin 5px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

.more-tasks-container
  position absolute
  box-sizing border-box
  z-index 1
  display flex
  width 100%
  &--invisible
    display none

.no-overflow
  overflow visible

.drag-over-cell
  z-index 100
  background-color rgba(195, 199, 205, 0.25)
  transition background-color 100ms;

.scroll
  position absolute
  bottom 0
  width 100%
  background #9a9ea4
  opacity 0.2
  &:hover
    opacity 0.6

@media all and (max-width: 425px)
  .calendar-container
    &__cell--muted
      display none
    &__daynames
      display none
    &__month
      margin-bottom 15px
    &__month-name
      display flex
      justify-content center
      align-items center
    &__nav
      font-size 26px
    &__date
      float left
    &__date--extended
      display block
      float left
      margin 7px 0
    &__row
      flex-wrap wrap

  .cell__tasks-list
    display block
    margin 0 auto
    &--extended
      position static
      box-shadow none
      padding-bottom 0
      max-height 200px

  .cell__task
    margin 5px auto
    &-name
      max-width 70% !important

  .btn-more
    margin 5px auto

  .scroll
    display none

@media all and (min-width: 500px) and (max-width: 768px)
  .cell__task-name
    max-width 40px !important
