@import "colors.styl"

.calendar-container
  min-width 320px
  background-color #ffffff
  border-radius 2px
  &__header
    font-size 21px
    margin 50px 0
  &__day-names
    background-color $light-blue
    text-align center
  &__nav
    display block
    text-decoration none
    text-align center
    color $dark-blue
  &__row
    display flex
    width 100%
  &__cell
    height 120px
    width 100%
    border solid 1px $light-grey
    border-bottom 0
    border-left 0
    box-sizing border-box
  &__cell--muted
    color $light-blue
    background-color $calendar-muted-cell
  &__daynames
    margin-top 25px
    background-color $light-blue
    display flex
  &__selected-date
    font-size 16px
    font-weight 600
    color $light-navy-blue
  &__date
    text-align right
    color $calendar-date-color
    cursor default
    margin 7px

.dayname-container
  width 100%
  &__name
    float left
    color #ffffff
    font-size 13px
    font-weight 600
    margin 10px 0 10px 5px

.cell
  &__tasks-list
    display flex
    flex-wrap wrap
    justify-content center
  &__task
    background-color $calendar-cell-task
    border-radius 3px
    margin-bottom 6px
    width 90%
    cursor pointer
  &__task-name
    font-size 11px
  &__task-time
    font-size 11px

.drag-enter-cell {
  background-color $blue
  transition background-color 200ms linear
}
