.calendar-container
  position absolute
  background-color #ffffff
  box-shadow: 0 2px 4px 0 $shadow-color;

  &__day-names
    background-color $light-blue
    text-align center
  &__nav
    display block
    text-decoration none
    text-align center
    color $dark-blue
  &__row
    display flex
    width 100%
  &__cell
    height 130px
    width 100%
    border solid 1px $light-grey
    margin 0 -1px -1px 0px
  &__cell--muted
    color $light-blue
    background-color $calendar-muted-cell
  &__date
    text-decoration none
    float right
    color $calendar-date-color
    cursor default
    margin 7px