.email-container
  margin-top 10%
  max-width 502px !important
  min-width 350px
  height 340px
  opacity 0.95
  border-radius 2px
  background-color #ffffff
  h1
    margin-top 50px
    text-align center
    font-size 21px
    color #000000
  input
    width 312px
    height 38px
    margin-top 30px
    padding-left 10px

.btn-enter
  width 322px
  height 40px
  font-size 16px
  color #ffffff
  font-family "Roboto Thin"
  margin-top 30px