.login-container
  margin-top 10%
  min-width 350px
  border-radius 2px
  background-color #ffffff
  &__avatar
    margin-top 20px
    height 100px
    width 100px
    border-radius 50px
    background-size cover
    display block
    -webkit-border-radius 50px
    -moz-border-radius 50px
  &__header
    text-align center
    font-size 21px
    margin-bottom 0
  &__input
    margin-top 30px
  &__link
    margin-top 20px

  .alert-ico
    margin-top 30px

  .avatar-container
    padding-top 20px
