@import "colors.styl"
@import "./../../node_modules/nib/index.styl"
@import "fonts.styl"
@import './font-awesome.styl'

@import "components/button.styl"
@import "components/input.styl"
@import "components/alert.styl"
@import "components/nav.styl"
@import "components/calendar.styl"
@import "components/task.styl"
@import "components/checkbox.styl"

@import "getUser.styl"
@import "login.styl"
@import "register.styl"
@import "main_page.styl"
@import "profile.styl"
@import "tasks.styl"
@import "calendarPage.styl"

html
  height 100%

body
  height 100%
  margin 0
  padding 0
  display flex
  font-family "Roboto Thin"
  background-image: linear-gradient(top right, $gradient_1, $gradient_2);
  background-repeat no-repeat
  background-attachment fixed

#root
  margin 0 auto
  width 100%

.avatar
  border-radius 50%

.link
  color $grey_blue
  font-size 18px