@import "components/button.styl"
@import "components/input.styl"

@import "getUser.styl"
@import "login.styl"

@import "./../../node_modules/nib/index.styl"

@import "fonts.styl"

html
  height 100%

body
  margin 0
  padding 0
  display flex
  font-family "Roboto Thin"
  background linear-gradient(top right, #194b7f, #b88cb7)

#root
  margin 0 auto
  width 100%

.hide
  display none

.alert-message
  font-size 10px
  color black

.avatar
  border-radius 50%