@import "components/button.styl"
@import "components/input.styl"
@import "components/alert.styl"
@import "components/nav.styl"

@import "getUser.styl"
@import "login.styl"
@import "register.styl"
@import "main_page.styl"
@import "profile.styl"

@import "./../../node_modules/nib/index.styl"

@import "fonts.styl"
@import './font-awesome.styl'

html
  height 100%

body
  height 100%
  margin 0
  padding 0
  display flex
  font-family "Roboto Thin"
  background-image: linear-gradient(top right, #194b7f, #b88cb7);
  background-repeat no-repeat
  background-attachment fixed

#root
  margin 0 auto
  width 100%

.avatar
  border-radius 50%

.link
  color #696c9b
  font-size 18px