.profile-container
  min-width 500px
  background-color #ffffff
  border-radius 2px
  &__header
    text-align center
    font-size 21px
    margin 50px 0
  &__avatar
    border-radius 50%
    margin-bottom 15px
    height 140px
  &__upload
    display none
  &__input-name
    margin 20px 0
  &__session
    margin-bottom 15px
    background-color #ececec
    border-radius 2px

.session-name
  float left


