.tasks-container
  min-width 320px
  background-color #ffffff
  border-radius 2px
  padding 0
  &__header
    text-align center
    font-size 21px
    margin 50px 0
  &__input
    margin 20px 0
    padding 0 130px 0 10px
  &__task
    margin-bottom 15px
  &__datepicker
    bottom 30px
    right 20px
  &__incomplete-list
    margin 60px 0 100px 0
  &__completed-list
    margin 60px 0 70px 0
  &__btn-add
    min-width 85px




