$gradient_1 = #194b7f
$gradient_2 = #b88cb7
$shadow-color = rgba(128, 128, 128, 0.5)

$grey = #979797
$light-grey = #d0d0d0
$light-navy-blue = #335588

$grey_blue = #696c9b
$grey_blue--hover = #7a7db2

$light-blue = #9fb3d1
$blue = #7989b4
$dark-blue = #2c5286

$default-blue-border = #a3b1cd
$after-blue-border = #7b8aa8
$blue_border = #749ae3
$blue-input-text = #566495

$alert = #cda3a3

$calendar-date-color = #9a9ea4
$calendar-muted-cell = #e6eaef
$calendar-cell-task = #dadfe6

