.alert-ico
  max-height 20px
  &--hidden
    display none
  &-container
    padding-left 0 !important
.alert-message
  font-size 13px
  color $alert
  margin 0
  height 15px
  &--success
    color $dark-blue
    font-weight 600
    font-size 14px
    margin-top 25px
    height 15px
.alert-container
  margin 0
  &--hidden
    display none

.message
  float left
  white-space nowrap
