.alert-ico
  max-height 20px
  &--hidden
    display none

.alert-message
  font-size 11px
  color red
  &--success
    color $blue
    font-weight 600
    font-size 11px
    float left
.alert-container
  &--hidden
    display none