.alert-ico
  max-height 20px
  &--hidden
    display none

.alert-message
  font-size 10px
  color red
  &--success
    color #3bff34
    font-size 11px
    float left
    font-weight 600
.alert-container
  &--hidden
    display none