@import "../colors.styl"

.btn
  height 40px
  box-sizing border-box
  border none
  border-radius 2px

.btn--greyblue
  background-color $grey_blue
  &:hover
    background-color $grey_blue--hover

.btn-enter
  width 100%
  font-size 16px
  color #ffffff
  font-family "Roboto Thin"
  margin 30px 0 70px 0

.btn-rounded
  box-sizing border-box
  display inline-block
  width 100%
  height 22px
  border-radius 100px
  border solid 1px $grey
  background-color white
  margin 15px 0 30px 0
  cursor pointer
  padding 4px 0
  font-size 11px
  font-weight bold

.icon-button
  color #566495
  font-size 16px
  display flex
  justify-content center
  overflow hidden
  &__text
    margin-left 10px
  &:hover
    cursor pointer


.btn-default
  width 100%
  font-size 16px
  color #ffffff
  font-family "Roboto Thin"

.btn-bordered
  border solid 1px $grey
  background none
  height 22px
  width 87px

.btn-more
  box-sizing border-box
  border-radius 3px
  margin-bottom 6px
  cursor pointer
  display flex
  justify-content space-between
  width 95%
  height 22px
  border solid 1px #979797
  position relative
  &__icon
    display inline-block
    margin 5px
    font-size 11px
  &__text
    display inline-block
    font-size 11px
    margin 5px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    max-width 80px