.calendar-container
  min-width 310px
  background-color #ffffff
  border-radius 2px
  margin-bottom 70px
  &__header
    font-size 21px
    margin 50px 0
  &__day-names
    background-color $light-blue
    text-align center
  &__nav
    display block
    text-decoration none
    text-align center
    color $dark-blue
  &__row
    display flex
    width 100%
  &__cell
    min-height 120px
    max-height 120px
    width 100%
    min-width 40px
    border solid 1px $light-grey
    border-bottom 0
    border-left 0
    box-sizing border-box
    position relative
  &__cell--muted
    color $light-blue
    background-color $calendar-muted-cell
  &__daynames
    margin-top 25px
    background-color $light-blue
    display flex
  &__selected-date
    font-size 16px
    font-weight 600
    color $light-navy-blue
  &__date
    text-align right
    color $calendar-date-color
    cursor default
    margin 7px
  &__date--extended
    display none
    text-align right
    margin 7px
    color $calendar-date-color

.dayname-container
  width 100%
  &__name
    float left
    color #ffffff
    font-size 13px
    font-weight 600
    margin 10px 0 10px 5px

.cell
  &__tasks-list
    display flex
    width 100%
    justify-content center
    flex-wrap wrap
    overflow hidden
    background #fff
    max-height 55px
    margin-bottom 3px
    box-shadow none
  &__tasks-list--extended
    z-index 100
    box-sizing border-box
    position absolute
    max-height 150px
    box-shadow 0 1px 1px 0 rgba(0, 0, 0, 0.5)
    border-radius 3px
    padding-bottom 6px
    overflow-y auto
  &__task
    background-color $calendar-cell-task
    position relative
    border-radius 3px
    margin-bottom 6px
    cursor pointer
    display flex
    justify-content space-between
    width 95%
    min-height 22px
    flex-wrap wrap
  &__task--invisible
    display none
  &__task--active
    background-color $blue
    color #fff
    position static
    z-index 100
  &__task-name
    display inline-block
    font-size 11px
    margin 5px 0 5px 5px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    width 6vw
    max-width 69px
  &__task-time
    display inline-block
    font-size 11px
    margin 5px 5px 5px 0
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
  &--zIndex
    z-index 100

.more-tasks-container
  position absolute
  box-sizing border-box
  z-index 1
  display flex
  width 100%
  &--invisible
    display none

.static-list
  position static

.drag-over-cell
  z-index 100
  background-color #e6e6e6
  transition background-color 100ms;

@media all and (max-width: 500px)
  .calendar-container
    &__cell
      max-height 100%
      min-height 100%
    &__cell--muted
      display none
    &__daynames
      display none
    &__month
      margin-bottom 15px
    &__month-name
      display flex
      justify-content center
      align-items center
    &__nav
      font-size 26px
    &__date
      float left !important
    &__date--extended
      display block
      float left
      margin 7px 0
    &__row
      flex-wrap wrap

  .cell__tasks-list
    display flex
    margin 0 auto
    overflow visible
    position relative
    max-height 100%
    margin-bottom 6px
    &--extended
      position relative
      background-color #fff
      padding-bottom 0

  .cell__task
    margin 3px auto
    &-name
      max-width 70% !important
      width initial
    &-time
      max-width 30px

  .more-tasks-container
    display none

  .scroll
    display none

  .static-list
    position static

@media all and (max-width: 768px)
  .cell__task
    &-name
      margin 5px 0 5px 2px
      max-width 4vw
    &-time
      margin 5px 2px 5px 0
