.email-container
  margin-top 10%
  min-width 320px
  border-radius 2px
  background-color #ffffff
  &__header
    margin 50px 0 0 0
    text-align center
    font-size 21px
  &__input
    margin-top 30px
  &__alert
    padding-left 0 !important

  .alert-ico
    margin-top 10px