.email-container
  min-width 320px
  border-radius 2px
  background-color #ffffff
  &__header
    margin 50px 0 0 0
    text-align center
    font-size 21px
  &__input
    margin-top 30px

  .alert-ico
    margin-top 15px

.email-row
  padding-top 10%