.email-container
  min-width 320px
  max-width 502px !important
  border-radius 2px
  background-color #ffffff
  &__header
    margin 50px 0 0 0
    text-align center
    font-size 21px
  &__input
    margin 40px 0 10px 0
  &__alert
    padding-left 0 !important
  &__btn
    margin-top 10px
  .alert-ico
    margin-top 15px
