.main-container
  height 100%
  max-width 940px
  margin auto
  &__item
    background-color #ffffff
    border-radius 2px
    min-width 300px
  &__item-icon
    margin 80px 0 60px 0
  &__item-name
    margin-bottom 90px
    font-size 21px
  &__link
    text-decoration none
    color #000000
    margin 15px 7px
    max-height 420px
  &__nav
    padding 40px 14px 0 0
    margin-bottom 90px
  &__item-icon-0
    padding 2px
  &__item-icon-2
    padding 9px
  &__logout
    height 20px
    display flex
    cursor pointer
    color #fff

@media all and (max-width: 1023px)
  .main-container
    &__links
      display flex
      flex-direction column !important
      align-items center
    &__nav
      padding-right 18px
      margin-bottom 50px