.profile-container
  min-width 320px
  max-width 1500px
  background-color #ffffff
  border-radius 2px
  padding 0
  margin-bottom 85px
  &__header
    text-align center
    font-size 21px
    margin 50px 0
  &__avatar
    margin-bottom 15px
    width 140px
    height 140px
    border-radius 70px
    background-size cover
    box-sizing border-box
    display block
    -webkit-border-radius 70px
    -moz-border-radius 70px
    border solid 1px #d4d4d4
  &__file
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  &__input-name
    padding 10px 0
  &__input-date
    padding 0 35px 0 10px
  &__sessions
    padding-bottom 100px
  &__session
    margin-bottom 15px
    background-color #ececec
    border-radius 2px
  &__datepicker
    bottom 10px
    right 20px
  &__btn
    padding 30px 0 70px 0
  .btn-enter
    margin 0
  &__message
    float left
    white-space nowrap

.session-name
  position relative
  &__text
    text-align left
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    cursor default
  &__title
    display none

.session-button
  overflow hidden

@media all and (max-width: 425px)
  .session-name
    position relative
    &__title
      display block
      position absolute
      top 36px
      border-radius 2px
      padding 4px
      left 24px
      min-width 200px
      z-index 100
      background $blue
      white-space normal
      color #ffffff